body {
    cursor: url("../img/greensquidSM.png"), pointer;
}
.top-stuff {
    background-image: url("../img/splatoon_banner.jpg");
    opacity:0.75;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.banner {
    background-image: linear-gradient(to right, black, aqua);
    /* background-image: url("../img/splatoon_banner.jpg"); */
    background-repeat: no-repeat;
    background-position: left;
}
.shadow-text{
    text-shadow: 3px 3px 5px black, 3px 3px 10px black;
}
.aside {
    background-color: grey;
    color:#dbf9f9;
}
.full-page {
    background-color: rgb(24 72 78);
}
.row {
    display: flex;
    /* flex-direction: row-reverse; */
}
#logo {
    height: 120px;
}
#roller{
    /* margin-right: 200px; */
    width: 300px;
}
/* .li {
    margin: 7px;
    border:5px;
} */
/* .nav-pills {
    background-color:grey
} */
.nav-pills .nav-link.active {
    background-color:rgb(98, 143, 128)
}
.textField {
    margin: auto;
    padding: 20px;
}
.header {
    background-image: url("../img/blots.png");
    background-repeat: ;
}
.register {
    background-image: url("../img/blots.png");
}
.sm{
    height:350px;
}
.tab4 {
    tab-size:8;
}
a {
    text-decoration: none;
    color: rgb(144, 201, 182)
}
a:hover {
    color: rgb(166, 255, 225);
    /* font-size: large; */
}
aside:hover {
    background-image: url("../img/blots.png");
}
.largeFont {
    font-size: xx-large;
}
header:hover {
    background-image: url("../img/Splatoon-3bigBanner.jpg");
    background-size: cover;
    /* opacity: 70%; */
}